.choices {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  margin-top: 45px;
  /* transition: transform 1s cubic-bezier(0.19, 1.34, 0.83, 0.92); */
  transition: opacity 1s ease-in-out;
  height: min-content;
  width: 40%;
}

@media (max-width: 1000px) {
  .choices {
    width: auto;
  }
}
