section.option {
  background: #ffffff;
  padding: 1.8rem;
  margin: 0.9rem 0;
  border-radius: 1em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  height: min-content;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section img {
  vertical-align: middle;
}

.optionText {
  padding-left: 0.5em;
  text-align: left;
}
