:root {
  --inputBackground: #cccccc;
}

textarea.inputArea {
  background: #fff;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  border-radius: 1rem;

  outline: none;
  overflow-y: scroll;
  font-size: inherit;
  resize: none;
  border: none;
}

::-webkit-input-placeholder { 
  color: #aaa;
}