.inputArea {
  background: #333333;
  font-size: 30px;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  height: 100%;
  min-height: 100%;
 
}
