.footer {
  background: #f6fdff;

  flex: 0 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 -40px;
  height: 70px;

  box-sizing: border-box;
  padding: 0 40px;

  font-size: 0.8rem;
  font-weight: 500;
}

.footer a {
  color: #007aff;
  text-decoration: underline;
}

.devs {
  display: flex;
  flex: 1 0 auto;
  width: 25%;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.info {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .footer {
    flex-flow: column nowrap;
    height: auto;
  }
  .info {
    box-sizing: initial;
    padding: 1rem 0;
    text-align: center;
  }
  .devs {
    flex-flow: row wrap;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-around;
  }
}
