:root {
    --inputBackground: #111111;
    --textColor:  #01FF70;
  }
  

html {
    background: var(--inputBackground);
    height: 100%;
    caret-color: #dddddd;
    color: var(--textColor);
    font-size: 20px;
}
body {
    margin: 8px;
}

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 600px 200px;
    
}

.layout > header {
    grid-column: 1/3;
}

.layout > section.InputArea {
    grid-column: 1/2;

}

.layout > section.ParseArea {
    grid-column: 2/3;
}

.layout > section.BoardArea {
    grid-column: 1/3;
}

section {
    border: 2px solid black;
}

