button.button {
  color: white;
  background-image: linear-gradient(-135deg, #b203a3 0%, #6013d0 100%);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  padding: 1rem 2rem;
  margin: 1em 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;

  text-align: center;
  transition: all 0.2s;
  min-width: 40px;
  font-size: 0.95rem;
}

.button:hover {
  color: #252525;
  background-color: transparent;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}

.button[disabled="disabled"],
.button:disabled {
  color: #aaa;
  background: transparent;
}
