@import "fonts/Avenir.css";

html,
body,
main.wrapper {
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;

  color: #252525;
  font-family: "Avenir Next Cyr";
  font-size: 9pt;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #6013d0;
}

main.wrapper {
  padding: 0 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: baseline;
  flex-flow: column nowrap;
}

@media screen and (max-width: 400px) {
  main.wrapper {
    max-width: 100%;
  }
}
