.choices {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

@media (min-width: 600px) {
  main.choices {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}
